<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: `Elimina el producto: ${product.name}`}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <div class="cardContainer">
            <div class="card">
                <div class="register-classic">
                    <h1>Desea eliminar el producto: <%= product.name %> </h1>
                    <form class="form" action="/products/<%= product.id %>/delete?_method=DELETE" method="POST">
                        <button type="submit" class="btn">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer') %>
</body>
</html>