<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: `Edita el producto: ${product.name}`} ) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <div class="cardContainer">
            <div class="card">
                <div class="newProd-classic">
                    <h1>Formulario de edicion del producto: <%= product.name %> </h1>
                    <form class="form" action="/products/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                        <fieldset class="text">
                            <input type="text" id="name" name="name" placeholder="Product name:" value="<% if ( locals.errors && errors.name) { %> <%= old.name %> <% } else { %><%= product.name %><% } %>"> 
                            <% if (locals.errors && errors.name) { %>
                                <p class="feedback"><%= errors.name.msg %> </p>
                            <% } %>
                        </fieldset>
                        <fieldset class="text">
                            <input type="text" name="description" id="description" placeholder="Product description:" value="<% if (locals.errors && errors.description) { %><%= old.description %><% } else { %><%= product.description %><% } %>" >
                            <% if (locals.errors && errors.description) { %>
                                <p class="feedback"><%= errors.description.msg %> </p>
                            <% } %>
                        </fieldset>
                        <fieldset class="digit">
                            <input type="number" id="price" name="price" min="0" placeholder="Product price:" step="any" value="<% if ( locals.errors && errors.price ) { %><%= old.price %><% } else { %><%= product.price %><% } %>">
                            <% if (locals.errors && errors.price) { %>
                                <p class="feedback"><%= errors.price.msg %> </p>
                            <% } %>
                        </fieldset>
                        <div>
                            <label>Categorias:</label>
                            <% for (let i of categories) { %>
                                <input type="checkbox" name="categories_ids" value="<%= i.id %>" id="<%= i.name %>">
                                <label for="<%= i.name %>"><%= i.name %></label>
                                <br/>
                            <% } %>  
                        </div>
                        <div>
                            <label for="brand">Selecciona la marca:</label>
                            <select name="brand_id" id="brand">
                                <option value="NaN" disabled>--Selecciona--</option>
                                <% for (let i of brands) { %>
                                    <option value="<%= i.id %>" <% if ( ( locals.errors && ( old.brand_id == i.id ) ) || ( product.brand_id == i.id ) ) { %><%= ' selected ' %> <% } %>><%= i.name %></option>
                                <% } %>
                            </select>
                            <% if (locals.errors && errors.brand_id) { %>
                                <p class="feedback"><%= errors.brand_id.msg %> </p>
                            <% } %>
                        </div>
                        <fieldset class="file">
                            <input type="file" name="image" id="image" accept=".jpg, .png, .jpeg, .bmp, .tiff, .tif|image/*">
                        </fieldset>
                        <button type="submit" class="btn">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>