<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Productos"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <div class="productSection">
                <div class="sectionTitle">
                    <h1>Listado de todos los productos:</h1>
                </div>
                <section class="products">
                    <% for (let product of products) { %> 
                        <article class="product">
                            <div class="productImage">
                                <a href="/products/<%= product.id %>">
                                    <img loading="lazy" src="/images/min/products/<%= product.image %>" onerror="this.onerror=null; this.src='/images/min/products/default.jpg'" alt="imagen de <%= product.name %>">
                                </a>
                            </div>
                            <div class="productInfo">
                                <div class="precio">
                                    <p>$<%= product.price %></p>
                                </div>
                                <div class="descripcion">
                                    <p><%= product.name %></p>
                                </div>
                            </div>
                        </article><!--.product-->
                    <% } %> 
                    
                </section>
            </div>

            <div class="center">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </main>

    </div>

    <%- include('../partials/footer') %>
</body>
</html>