<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Productos"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <section class="sect-p">
            <div class="sect-title sectionTitle">
                <h2>Listado de todos los productos:</h2>
            </div>
            <div class="sect-content">
                <% for ( let product of products ) { %>
                    <article class="prods">
                        <div class="prodBox">
                            <a href="/products/<%= product.id %>">
                                <div class="img-container">
                                <div class="img-inner">
                                    <div class="inner-skew">
                                    <img loading="lazy" src="/images/min/products/<%= product.image %>" onerror="this.onerror=null; this.src='/images/min/products/default.jpg'" alt="imagen de <%= product.name %>">
                                    </div>
                                </div>
                                </div>
                                <div class="text-container">
                                <h3>$<%= product.price %></h3>
                                <div>
                                    <%= product.name %>
                                </div>
                            </a>
                        </div>
                    </article>
                <% } %> 
            </div>
        </section>

        <%- include('../partials/pagination') %> 

    </div>

    <%- include('../partials/footer') %>

    <script src="/js/pagination.js"></script>
</body>
</html>