<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Productos"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <h1>Listado de todos los productos:</h1>
            <% for (let product of products) { %> 
                <div class="product">
                    <a href="/products/<%= product.id %>">
                        <img src="/images/min/products/<%= product.image %> " alt="imagen de <%= product.name %>" class="image">
                        <div class="info">
                            <p class="name"><%= product.name %></p>
                            <p class="price">$<%= product.price %></p>
                        </div>
                    </a>
                </div> <!--.product-->
            <% } %> 

            <div class="center">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </main>

    </div>

    <%- include('../partials/footer') %>
</body>
</html>