<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: `REsultados de tu busqueda: ${keywords}`}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <div class="productSection">
                <div class="sectionTitle">
                    <h1>Resultados de la busqueda: <%= keywords %> </h1>
                    <% if (products.length == 0) { %>
                        <p>No hubo resultados de tu busqueda</p>
                    <% } %>  
                </div>
                <section class="products">
                    <% for (let product of products) { %> 
                        <article class="product">
                            <div class="productImage">
                                <a href="/products/<%= product.id %>">
                                    <img loading="lazy" src="/images/min/products/<%= product.image %>" onerror="this.onerror=null; this.src='/images/min/products/default.jpg'" alt="imagen de <%= product.name %>">
                                </a>
                            </div>
                            <div class="productInfo">
                                <div class="truckButton">
                                    <div class="truckIcon">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                </div>
                                <div class="precio">
                                    <p>$<%= product.price %></p>
                                </div>
                                <div class="descripcion">
                                    <p><%= product.name %></p>
                                </div>
                            </div>
                        </article><!--.product-->
                    <% } %> 
                    
                </section>
            </div>
        </main>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>