<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: `Elimina el producto: ${product.name}`}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <h2>Desea eliminar el producto: <%= product.name %> </h2>
            <form action="/products/<%= product.id %>/delete?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
            </form>
        </main>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>