<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main class="detailsPage">
        <h1 class="productName"><%= product.name %></h1>
        <div class="detailsContent">
            <div class="detailsProduct">
                <img src="/images/min/products/<%= product.image %>" alt="product image" class="product__img">
            
                <div>
                    <a href="/products/<%= product.id %>/edit">Editar</a>
                </div>
                <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                    <button type="submit">ELIMINAR</button>
                </form>
            </div>
            <div class="detailsInfo">
                <p><%= product.description %></p>
            
            
                <p>$<%= f(product.price) %></p>
            
                <p><%= product.discount %> % OFF</p>
            
                <p><b>Categoría:</b> <%= product.thematic %></p>
            
                <% let x = ''; %>
                    <% for (let i of product.keywords) { %>
                    <% x += i + ', '; %> 
                <% } %>
                <p><b>Palabras clave:</b> <%= x %></p>
            
            <div>
                <a href="#">COMPRAR AHORA</a>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>