<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <h1>Detalle del producto <%= product.name %> </h1>
        <div>
            <img src="/images/products/<%= product.image %>" alt="product image">
        </div>
        <div>
            <p><%= product.description %></p>
        </div>
        <div>
            <h2><%= product.name %></h2>
        </div>
        <div>
            <p>$<%= f(product.price) %></p>
        </div>
        <div>
            <p><%= product.discount %> % OFF</p>
        </div>
        <div>
            <p>Categoria: <%= product.thematic %></p>
        </div>
        <div>
            <% let x = ''; %>
                <% for (let i in product.keywords) { %>
                <% x += i + ', '; %> 
            <% } %>
            <p>Palabras clave: <%= x %></p>
        </div>
        <div>
            <a href="#">COMPRAR AHORA</a>
        </div>
        <div>
            <a href="/products/<%= product.id %>/edit">Editar</a>
        </div>
        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
            <button type="submit">ELIMINAR</button>
        </form>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>