<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>

    <main>
        <div>
            <h1>Listado de todos los productos</h1>
            <% for (let product of products) { %> 
            <div class="product">
                <a href="/products/<%= product.id %>">
                    <img src="/images/products/<%= product.image %> " alt="imagen de <%= product.name %>" class="product__im">
                    <div class="product__info">
                        <p class="product__name"><%= product.name %></p>
                        <p class="product__price">$<%= f(product.price) %></p>
                    </div>
                </a>
            </div> <!--.product-->
            <% } %> 
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>