<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Todos los productos"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <h1>Listado de todos los productos:</h1>
            <% for (let product of products) { %> 
                <div class="product">
                    <a href="/products/<%= product.id %>">
                        <img src="/images/min/products/<%= product.image %> " alt="imagen de <%= product.name %>" class="image">
                        <div class="info">
                            <p class="name"><%= product.name %></p>
                            <p class="price">$<%= product.price %></p>
                        </div>
                    </a>
                </div> <!--.product-->
            <% } %> 
        </main>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>