<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: `Eliminar usuario` }) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <div class="cardContainer">
            <div class="card">
                <div class="register-classic">
                    <h1>Desea eliminar al usuario asociado a: <%= user.email %></h1>
                    <form class="form" action="/users/<%= user.id %>/delete?_method=DELETE" method="POST">
                        <button type="submit" class="btn">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer') %>
</body>
</html>