<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: `Detalle del usuario: ${user.email}`}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <h1>Detalle de usuario: <%= `${user.first_name} ${user.last_name}` %> </h1>
            <div>
                <p>Imagen de perfil: </p>
                <% if ( (user.id - 1) % 2 == 0) { %>
                    <img loading="lazy" src="/images/min/users/<%= user.image %>" onerror="this.onerror=null; this.src='/images/min/users/default-f.jpeg'" alt="avatar  de <%= user.first_name %>">
                <% } else{ %> 
                    <img loading="lazy" src="/images/min/users/<%= user.image %>" onerror="this.onerror=null; this.src='/images/min/users/default-m.jpeg'" alt="avatar  de <%= user.first_name %>">
                <% } %> 

                <img src="/images/min/users/<%= user.image %>" alt="user avatar">
            </div>
            <div>
                <p>Nombre del usuario: <%= user.first_name %> </p>
            </div>
            <div>
                <p>Apellido del usuario: <%= user.last_name %> </p>
            </div>
            <div>
                <p>Correo electronico del usuario: <%= user.email %> </p>
            </div>
            <div>
                <p>Categoria del usuario: <%= user.role.title %> </p>
            </div>
            <div>
                <a href="/users/<%= user.id %>/edit">Editar</a>
            </div>
            <button>
                <a href="/users/<%= user.id %>/delete">
                    Borrar
                </a>
            </button>
        </main>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>