<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Listado de usuarios"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <div class="productSection">
                <div class="sectionTitle">
                    <h1>Listados de Todos los usuarios</h1>
                    <p>Solo los admins tienen que tener acceso a esta parte de la pagina</p>
                </div>
                <section class="products">
                    <% for (let i = 0; i < users.length; i++) { %> 
                        <article class="product">
                            <div class="productImage">
                                <a href="/users/<%= users[i].id %>">
                                    <% if (i % 2 == 0) { %>
                                        <img loading="lazy" src="/images/min/users/<%= users[i].image %>" onerror="this.onerror=null; this.src='/images/min/users/default-f.jpeg'" alt="avatar  de <%= users[i].first_name %>">
                                    <% } else{ %> 
                                        <img loading="lazy" src="/images/min/users/<%= users[i].image %>" onerror="this.onerror=null; this.src='/images/min/users/default-m.jpeg'" alt="avatar  de <%= users[i].first_name %>">
                                    <% } %> 
                                </a>
                            </div>
                            <div class="productInfo">
                                <div class="precio">
                                    <p><%= users[i].email %></p>
                                </div>
                                <div class="descuento">
                                    <p><%= users[i].role.title %></p>
                                </div>
                                <div class="descripcion">
                                    <p><%= `${users[i].first_name} ${users[i].last_name}`%></p>
                                </div>
                                <% if ( locals.logged_user && logged_user.role_id === 1) { %> 
                                    <a href="/users/<%= users[i].id %>/edit ">Edita el rol de usuario</a>
                                <% } %>
                            </div>
                        </article><!--.user-->
                    <% } %> 
                    
                    
                </section>
            </div>

        </main>
    </div>
    
    <%- include('../partials/pagination') %>

    <%- include('../partials/footer') %>
    <script src="/js/pagination.js"></script>
</body>
</html>