<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Login"}) %>
<body>
    <%- include('../partials/header') %>
    <div class="container">
        <div class="cardContainer">
            <div class="card">
                <div class="signup-connect">
                    <h1>Crea tu cuenta</h1>
                    <a href="#" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i> Ingresa con Facebook</a>
                    <a href="#" class="btn btn-social btn-twitter"><i class="fa fa-linkedin"></i> Ingresa con Linkedin</a>
                    <a href="#" class="btn btn-social btn-google"><i class="fa fa-google"></i> Ingresa con Google</a>
                    <a href="/users/register" class="btn btn-social btn-linkedin"><i class="fa fa-envelope"></i> Registrate con tu correo</a>
                </div>
                <div class="signup-classic">
                    <h2>Sign up</h2>
                    <form class="form" action="/users/login" method="POST">
                        <fieldset class="email">
                            <input type="email" name="email" id="email" placeholder="email">
                            <% if (locals.errors && errors.email) { %>
                                <p class="feedback"><%= errors.email.msg %> </p>
                            <% } %>
                        </fieldset>
                        <fieldset class="password">
                            <input type="password" name="password" id="password" placeholder="password">
                            <% if (locals.errors && errors.password) { %>
                                <p class="feedback"><%= errors.password.msg %> </p>
                            <% } %>
                        </fieldset>
                        <div>
                            <input type="checkbox" name="rememberMe" id="rememberMe">
                            <label for="rememberMe">Rememeber me</label>
                        </div>
                        <button type="submit" class="btn">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <%- include('../partials/footer') %>
</body>
</html>