<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <div class="container bg">
            <div class="carousel">
                <div class="carousel__images">
                    Images
                </div>
                <div class="carousel__indicators">
                    <input type="radio" name="images-carousel">
                    <input type="radio" name="images-carousel">
                    <input type="radio" name="images-carousel">
                    <input type="radio" name="images-carousel">
                    <input type="radio" name="images-carousel">
                </div>
            </div>
            <div class="leftarrow">
                <button>L</button>
            </div>
            <div class="rightarrow">
                <button>R</button>
            </div>

        </div>
        <div class="container">
            <div class="fastnews">
                <p> Compras mas rapidas/12msi/medidas covid</Compras></p>
            </div>
        </div>
        <div class="container">
            <div class="discounts">
                <div class="discount">
                    <div class="discount__logo">Logo X marca</div>
                    <div class="discount__text">
                        <p>Hasta un x% de descuento</p>
                    </div>
                </div> <!--.discount-->
                <div class="discount">
                    <div class="discount__logo">Logo X marca</div>
                    <div class="discount__text">
                        <p>Hasta un x% de descuento</p>
                    </div>
                </div> <!--.discount-->
                <div class="discount">
                    <div class="discount__logo">Logo X marca</div>
                    <div class="discount__text">
                        <p>Hasta un x% de descuento</p>
                    </div>
                </div> <!--.discount-->
            </div>
        </div>
        <div class="container">
            <div class="banners">
                <div class="banner">
                    <div class="banner__icon">Icon</div>
                    <h4 class="banner__title">Envio gratis</h4>
                    <p class="banner__texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut rerum iste.</p>
                </div> <!--.banner-->
                <div class="banner">
                    <div class="banner__icon">Icon</div>
                    <h4 class="banner__title">Envio gratis</h4>
                    <p class="banner__texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut rerum iste.</p>
                </div> <!--.banner-->
                <div class="banner">
                    <div class="banner__icon">Icon</div>
                    <h4 class="banner__title">Envio gratis</h4>
                    <p class="banner__texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut rerum iste.</p>
                </div> <!--.banner-->
            </div>
        </div>
        <div class="container">
            <div class="prodsReel">
                <h3 class="prodsReel__title">Special Offers</h3>
                <div class="prodsReel__carousel">
                    <% for (let i = 0; i<9; i++ ) { %> 
                    <div class="product">
                        <a href="/products/<%= products[i].id %>">
                            <img src="/images/min/products/<%= products[i].image %>" alt="Imagen Playera" class="product__im">
                            <div class="product__info">
                                <p class="product__name"><%= products[i].name %></p>
                                <p class="product__price">$<%= f(products[i].price) %></p>
                            </div>
                        </a>
                    </div> <!--.product-->
                    <% } %> 
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>