<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "Login"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main class="loginForm">
            <h1>Formulario de Log In</h1>
            <form action="/users/login" method="POST">
                <div>
                    <label for="email">Ingresa tu correo:</label>
                    <input type="email" name="email" id="email">
                    <% if (locals.errors && errors.email) { %>
                        <p class="feedback"><%= errors.email.msg %> </p>
                    <% } %>
                </div>
                <div>
                    <label for="password">Ingresa tu contrasena:</label>
                    <input type="password" name="password" id="password">
                    <% if (locals.errors && errors.password) { %>
                        <p class="feedback"><%= errors.password.msg %> </p>
                    <% } %>
                </div>
                <div>
                    <input type="checkbox" name="rememberMe" id="rememberMe">
                    <label for="rememberMe">Rememeber me</label>
                </div>
                <div>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </main>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>