<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: "LaniakShop"}) %>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <main>
            <div class="video">
                <div class="overlay">
                    <div class="contenedor contenido-video">
                        <h2>
                            Las mejores ofertas
                            <span>CDMX</span>
                        </h2>
                    </div>
                </div>
                <img src="/images/min/stills/setup_still.jpg" alt="image banner">
            </div>
            <div class="productSection">
                <div class="sectionTitle">
                    <h2>Productos mas vendidos!</h2>
                </div>
                <section class="products">
                    <% for (let product of products) { %> 
                        <article class="product">
                            <div class="productImage">
                                <a href="/products/<%= product.id %>">
                                    <img src="/images/min/products/default.jpg " alt="imagen de <%= product.name %>">
                                </a>
                            </div>
                            <div class="productInfo">
                                <div class="truckButton">
                                    <div class="truckIcon">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                </div>
                                <div class="precio">
                                    <p>$<%= product.price %></p>
                                </div>
                                <div class="descripcion">
                                    <p><%= product.name %></p>
                                </div>
                            </div>
                        </article><!--.product-->
                    <% } %> 
                    
                </section>
            </div>
        </main>
    </div>

    <%- include('../partials/footer') %>
    <script src="/js/bundle.js"></script>
</body>
</html>